<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303747063465-qkcqp4tabj8spultchkeep44p1vlpca6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303747063465-qkcqp4tabj8spultchkeep44p1vlpca6</string>
	<key>API_KEY</key>
	<string>AIzaSyDDlQLhySkuQs-olncS9oS3lRf30dO8PGY</string>
	<key>GCM_SENDER_ID</key>
	<string>303747063465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.business-project.sort.b2c</string>
	<key>PROJECT_ID</key>
	<string>sort-b2c</string>
	<key>STORAGE_BUCKET</key>
	<string>sort-b2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303747063465:ios:cfc2323d5fd7b4737d93b8</string>
</dict>
</plist>